@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply text-center my-2 sm:my-4 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-2 sm:px-4 border border-gray-400 rounded shadow;
}
.btn.success {
    @apply bg-green-200 hover:bg-green-400;
}
.btn + .btn {
    @apply ml-4;
}

.cards {
    @apply grid gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5;
}
.card {
    @apply relative rounded border-2 border-gray-500 shadow-xl duration-500 motion-safe:hover:scale-105;
}

.center {
    @apply items-center justify-center text-center
}

.section {
    @apply container mx-auto flex flex-col p-4
}

.tabs-container {
    @apply mb-4 text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700;
}
.tabs {
    @apply flex flex-wrap -mb-px;
}
.tab {
    @apply mr-2;
}
.tabs .tab a {
    @apply inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300;
}
.tabs .tab.active a {
    @apply text-blue-600 border-blue-600 dark:text-blue-500 dark:border-blue-500;
}

.tbl-cell {
    @apply p-1 border border-red-900;
}

.close {
    @apply absolute -top-2 -right-2 text-white font-bold bg-red-600 py-1 px-3 rounded-3xl;
}