@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply text-center my-2 sm:my-4 bg-indigo-200 hover:bg-indigo-300 text-gray-800 font-semibold py-2 px-2 sm:px-3 border border-gray-400 rounded shadow;
}
.btn.success {
    @apply bg-blue-300 hover:bg-blue-400;
}
.btn + .btn {
    @apply ml-1;
}
.btn--close {
    @apply fixed top-1 right-1 bg-red-600 rounded-md p-2 inline-flex items-center justify-center text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-black
}
.btn--full {
    @apply bg-indigo-400 hover:bg-indigo-500 flex w-full whitespace-nowrap justify-center items-center font-bold text-center border border-gray-400 rounded shadow mx-auto py-2;
}

.cards {
    @apply grid gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5;
}
.card {
    @apply relative shadow-xl duration-500 motion-safe:hover:scale-105 rounded-3xl;
}

.center {
    @apply items-center justify-center text-center
}

.section {
    @apply container mx-auto flex flex-col p-4
}

.header {
    @apply font-bold
}

.tabs-container {
    @apply flex flex-col justify-end text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700;
}
.tabs {
    @apply flex flex-wrap -mb-px;
}
.tab {
    @apply mr-2  bg-indigo-100 hover:bg-indigo-300 text-indigo-500 rounded-t-lg;
}
.tabs .tab a {
    @apply inline-block p-4 rounded-t-lg border-b-2 dark:border-indigo-300 hover:text-indigo-500 hover:border-indigo-400 dark:hover:text-indigo-700;
}
.tabs .tab.active a {
    @apply text-indigo-900 bg-indigo-200 dark:text-indigo-600 dark:border-indigo-200 font-bold;
}

.tbl-cell {
    @apply p-1 border border-purple-900;
}

.close {
    @apply absolute -top-2 -right-2 text-white font-bold bg-red-600 py-1 px-3 rounded-3xl;
}

.badge.selected {
    @apply border-2 border-slate-900 hover:border-black hover:border-4;
}



/* Quest Summary */
.battle-banner {
    @apply text-2xl bg-red-600 text-center text-white;
}
.battle-groups {
    @apply flex justify-around pb-4 border-b-2 border-gray-400 border-dashed;
}
.battle-group__combatants {
    @apply flex flex-wrap justify-around gap-4 border-x-2 p-4;
}
.battle-group h4 {
    @apply text-xl text-center;
}
.start-turn {
    @apply pt-4;
}
.end-turn {
    @apply pb-4 border-b-2 border-gray-400 border-dashed;
}
.quest-summary .damage, .quest-summary .crit {
    @apply text-red-500;
}
.quest-summary .death {
    @apply bg-black font-bold text-white;
}
.quest-summary .heal {
    @apply text-green-500;
}